<div>
  <img src="/assets/sf.webp" alt="Headshot of David">
  <p>
    Hi, I'm <strong>David</strong>. I'm passionate about helping others achive their dreams through technology. Learn more <a href="/about">me</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
    filter: var(--hero-filter)
  }

  p {
    font-size: 1.125rem;
  }
</style>
