---
---


<style>
  .logo {
    display: block;
    width: 75px;
    height: 75px;
    stroke: var(--primary-color)
  }
</style>


<div class="logo">
  <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20V4h5.5a4 4 0 0 1 0 9H7"/></svg></a>
</div>